html {
  margin: 0;
  padding: 0;


  background: url(assets/starry-night-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body {
  /* margin-left: 100px;
 margin-right: 100px; */
 margin-top: 20px;
 text-align: left;
  font-family: "courier", monospace;

}

h1 {
text-align: center;


}

.blue-rectangle{
  background-color: #e6e6e6;
   /* padding: 10px 30px; */
  /* margin-bottom: 25px */
  width: 150px;
  height: 225px;
  margin-top: 10px;

}


.function{
text-align: left;

}

/* canvas {
  margin: 0 auto 0 auto;
  display: block;
  border: 5px solid rgb(250, 233, 225);
} */

canvas {
  margin: auto;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
